.sobre-main h1 {
  color: var(--cor-0);
  margin-bottom: 20px;
}

.home-main {
  background: var(--cor-12) url(/img/dec/bottom-left.svg) no-repeat bottom 40px
    left 32px;
}

.grid-home {
  display: grid;
  padding: 22px 32px;
  grid-template-columns: 2fr auto;
  align-items: center;
}

.sobre-main p {
  font-size: 18px;
  max-width: 40ch;
  margin-bottom: 20px;
}

.foto-bikecraft-main {
  height: calc(100vh + 2vh);
  object-fit: contain;
  object-position: left center;
  margin-bottom: -100px;
}

main {
  margin-bottom: 150px;
}

@media (max-width: 850px) {
  .grid-home {
    padding: 12px 16px;
    grid-template-columns: 1fr 400px;
  }
}

@media (max-width: 700px) {
  .grid-home {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .foto-bikecraft-main {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  main {
    margin-bottom: 80px;
  }
}
