.seguro-pagina.bg-black {
  background-color: var(--cor-11);
}

.seguro {
  padding: 90px 40px;
}

.seguro-pagina {
  padding: 22px 34px;
}

.seguros-container-card {
  padding-bottom: 90px;
}

main.seguro-pagina {
  margin-bottom: 0px;
}

@media (max-width: 450px) {
  .seguros-container-card {
    padding-bottom: 20px !important;
  }
}
